<div class="card">
    <div class="card-header">
        <span class="badge badge-outline-primary mr-3">{{githubProfile.followers}} Followers</span>
        <span class="badge badge-success mr-3">{{githubProfile.public_repos}} Repositories</span>
        <span class="badge badge-warning mr-3">{{ githubProfile.following }} Following</span>
        <span class="badge badge-danger mr-3">{{githubProfile.public_gists}} Public gists</span>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-items">User Name :
                <span class="font-weight-bold">{{githubProfile.name}}</span>
            </li>
            <li class="list-group-items">Location :
                {{githubProfile.location}}
            </li>
            <li class="list-group-items">Email :
                {{githubProfile.email}}
            </li>
            <li class="list-group-items">Company :
                {{githubProfile.company}}
            </li>
            <li class="list-group-items">Blog :
                {{githubProfile.blog}}
            </li>
            <li class="list-group-items">Member since :
                {{githubProfile.created_at | date}}
            </li>
            <li class="list-group-items">Profile :{{githubProfile.url}}</li>
        </ul>
    </div>
</div>
 