<div *ngIf="githubRepos" class="card mt-3">
    <div class="card-hearder text-black">
        <H4>Github Repositories</H4>
    </div>
    <div class="card-body">
        <ul class="listgroup">
            <li *ngFor="let repo of githubRepos" class="list-group-items d-flex justify-content-between">
                <a [href]="repo.html_url" class="text-light" target="_blank">{{ repo.name}}</a>
                <span id="description" class="badge badge-success">{{repo.description}}</span>
                <span class="badge badge-warning">stars {{repo.stargazers_count}}</span>

            </li>
        </ul>
    </div>
</div>